.Nav__Bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.Nav__List {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 15px 45px;
}
.Nav__Link {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}

.Nav__Notify {
  background-color: #ff6229;
  color: white;
  border-radius: 50%;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.Nav__Notify___chat {
  width: 25px;
  height: 25px;
  bottom: 15px;
  left: 18px;
}
.Nav__Notify___ellisis {
  width: 5px;
  height: 5px;
  left: 30px;
  top: -12px;
}
