.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px var(--Header-LR-Margin) 20px var(--Header-LR-Margin);
}

.screen-header__title {
  font-size: 28px;
  font-weight: 700;
}

.screen-header__icons span {
  margin-left: 15px;
}
