.Welcome_Header {
  margin: 80px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Welcome_Header_Title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Welcome_Header_Subtext {
  width: 60%;
  opacity: 0.7;
}

#Welcome_Form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#Welcome_Form input {
  padding: 15px 0px;
  font-size: 20px;
}

#Welcome_Form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease-in-out;
}

#Welcome_Form input[type="password"] {
  margin-bottom: 20px;
}

#Welcome_Form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#Welcome_Form input:not([type="submit"]):focus {
  border-bottom: 2px solid var(--blue-sky);
}

#Welcome_Form input[type="submit"] {
  margin: 10px 0px;
  background-color: var(--yellow);
  border-radius: 5px;
  font-size: 23px;
  cursor: pointer;
}

#Welcome_Form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /** 부모로부터 상속 **/
  margin-top: 15px;
}
