.fa-red {
  color: tomato;
}

.icon-top-margin {
  margin-top: 30px;
}

.icon-top-margin-sm {
  margin-top: 20px;
}

.menu__icons {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggest__icons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-xl {
  font-size: 37px;
}

.icon-xxl {
  font-size: 45px;
}

#kakao_icons-title {
  font-size: 18px;
  font-weight: 600;
}

.icons__text-style {
  opacity: 0.4;
  font-weight: 700;
  margin-top: 14px;
}

.find__icon-relative {
  position: relative;
}

.talk-drive__ellisis {
  width: 6px;
  height: 6px;
  left: 60px;
  top: -10px;
}

.visible_none {
  visibility: hidden;
}

.menu__icon {
  margin-top: 13px;
  text-align: center;
  vertical-align: middle;
}

.menu__icon--font {
  opacity: 0.6;
  font-weight: 600;
  font-size: 14px;
}

.menu__screen {
  padding: 0px 30px 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion__screen {
  padding: 0px 30px 30px 20px;
  display: flex;
  align-items: center;
}

.menu__icon--r-margin {
  margin-right: 27px;
}
